<!DOCTYPE html>
<html>
<head>
  <title>CandidateNewsAggregator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class = "backdrop">
    <div class = "span8 offset2 container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
